<h3 class="display-4">Users List</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% _.each(users, (user) =>{ %> 
    <tr data-id="<%= user.id %>" data-model="user">
        <td><%= user.id %> </td>
        <td><%= user.name %></td>
        <td><%= user.title %></td>
        <td><%= user.email %></td>
        <% if (user.admin) { %> 
            <td><img src="/images/admin.png" height="20" width="20" alt="amdin"></td>
        <% } else { %> 
            <td><img src="/images/user.png" height="20" width="20" alt="user"></td>
        <% } %> 
        <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
        <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
        
        <td>
            <form action="/user/delete/<%= user.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
        </td>
    </tr>
    <% }); %> 
</table>